<div class="jumbotron">
 <h2><%= gettext "Welcome to %{name}", name: "Senzual Night event tracker!" %></h2>
 <p class="lead">This web app is used for tracking any entry for the fabulous Senzual Night!</p>
</div>
