<h2>Show Entry</h2>

<ul>

  <li>
    <strong>Customers number:</strong>
    <%= @entry.customers_number %>
  </li>

  <li>
    <strong>Price:</strong>
    <%= @entry.price %>
  </li>

</ul>

<span><%= link "Edit", to: event_entry_path(@conn, :edit, @event, @entry) %></span>
<span><%= link "Back", to: event_entry_path(@conn, :index, @event) %></span>
