<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Welcome to Senzual Night</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <header class="header">
        <nav role="navigation" class="navBar">
          <%= if Guardian.Plug.current_resource(@conn) != nil do %>
            <span><%= link "Events", to: event_path(@conn, :index), class: "btn btn-default btn-xs nav" %></span>
            <span><%= link "Logout", to: page_path(@conn, :logout), method: :post, class: "btn btn-default btn-xs nav" %></span>
          <% else %>
          <% end %>
        </nav>
        <div class="logo"><%= link "", to: page_path(@conn, :login)%></div>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
